.login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(214, 233, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        width: 48vw;
        height: 60vh;
        box-shadow: 1px 1px 4px rgb(217, 227, 240);
        display: flex;
        .left {
            width: 50%;
            height: 100%;
            background-image: url('../../assets/bg3.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .right {
            width: 50%;
            height: 100%;
            background-color: #fff;
            padding: 15% 10%;
            h4 {
                font-size: 16px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 30px;
            }
        }
    }
}