@import '@/assets/css/title.module.scss';
.orderStatistic {
    height: calc(100% - 75px);
    padding-right: 10px;
    .card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .cardItem {
            width: 16%;
            height: 100px;
            box-shadow: 1px 1px 5px rgb(248, 248, 248);
            border-radius: 3px;
            background-color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon {
                height: 70px;
                width: 70px;
                background-position: center center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .head {
                background-image: url('../../../../assets/头部护具类.png');
            }
            .breath {
                background-image: url('../../../../assets/呼吸护具类.png');
            }
            .eyes {
                background-image: url('../../../../assets/眼部护具类.png');
            }
            .face {
                background-image: url('../../../../assets/面部护具类.png');
            }
            .shoes {
                background-image: url('../../../../assets/防护鞋.png');
            }
            .safeBag {
                background-image: url('../../../../assets/防坠落护具类.png');
            }
            .hands {
                background-image: url('../../../../assets/手部.png');
            }
            .medicine {
                background-image: url('../../../../assets/药品防护类.png');
            }
            .clothes {
                background-image: url('../../../../assets/防护服类.png');
            }
            .fire {
                background-image: url('../../../../assets/消防.png');
            }
            .else {
                background-image: url('../../../../assets/其他.png');
            }
            .text {
                height: 70px;
                width: 100px;
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .titleText {
                    font-size: 16px;
                    color: #8C8C8C;
                }
                .number {
                    color: #666666;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .graph {
        padding: 10px;
        background-color: #fff;
        height: calc(100% - 130px);
        border-radius: 5px;
        .chart {
            margin-top: 20px;
            height: 80%;
            padding-top: 40px;
        }
    }
}