.header {
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(248, 248, 248);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 15px;
    .user {
        color: rgb(37, 122, 241);
        font-size: 14px;
        display: flex;
        align-items: center;
        .avator {
            display: inline-block;
            background-image: url('../../assets/avatar.png');
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
    }
}